{% extends "base.html.twig" %}

{% block body %}

<div class="skills content-page--shell content-page">

    <div class="top__biography shell--skills shell">
        {# top | terminal bar #}
        <div class="terminal-bar">
            <div class="bar-btn__group">
                <div class="bar__btn btn--red"></div>
                <div class="bar__btn btn--yellow"></div>
                <div class="bar__btn btn--green"></div>
            </div>
            <div class="bar__name">guest@arnaud: ~</div>
            <div></div>
        </div>

        {# terminal content #}
        <div class="biography__content scrolling skills-line">

            <div class="terminal--display">
                <p class="terminal-intro">
                    Welcome to Arnaud porfolio, the friendly and interactive portfolio.
                </p>

                <p class="terminal-command">
                    <span class="terminal-arrow">&#8702 </span> <span class="terminal-home">~ </span>
                    <span class="terminal-echo"> echo</span> <span class="echo-arg">langages</span>
                </p>
            </div>
        </div>

            <div class="skills-content">
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/php.png') }}" alt="PHP logo" class="skill-image">
                    <p class="skill-name">PHP</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/javascript.png') }}" alt="JavaScript logo" class="skill-image">
                    <p class="skill-name">JavaScript</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/C.png') }}" alt="C logo" class="skill-image">
                    <p class="skill-name">C</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/html.png') }}" alt="HTML logo" class="skill-image">
                    <p class="skill-name">HTML</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/css.png') }}" alt="CSS logo" class="skill-image">
                    <p class="skill-name">CSS</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/typescript.webp') }}" alt="Typescript logo" class="skill-image">
                    <p class="skill-name">TypeScript</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/sql.png') }}" alt="SQL logo" class="skill-image">
                    <p class="skill-name">SQL</p>
                </div>
            </div>

    </div>

    <div class="top__biography shell--skills shell">
        {# top | terminal bar #}
        <div class="terminal-bar">
            <div class="bar-btn__group">
                <div class="bar__btn btn--red"></div>
                <div class="bar__btn btn--yellow"></div>
                <div class="bar__btn btn--green"></div>
            </div>
            <div class="bar__name">guest@arnaud: ~</div>
            <div></div>
        </div>

        {# terminal content #}
        <div class="biography__content scrolling skills-line">

            <div class="terminal--display">
                <p class="terminal-intro">
                    Welcome to Arnaud porfolio, the friendly and interactive portfolio.
                </p>

                <p class="terminal-command">
                    <span class="terminal-arrow">&#8702 </span> <span class="terminal-home">~ </span>
                    <span class="terminal-echo"> echo</span> <span class="echo-arg">framework <span
                            class="terminal-echo">|</span> libraries</span>
                </p>
            </div>

            <div class="skills-content">
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/symfony.png') }}" alt="Symfony logo" class="skill-image">
                    <p class="skill-name">Symfony</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/lumen.png') }}" alt="Lumen logo" class="skill-image">
                    <p class="skill-name">Lumen</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/jquery.png') }}" alt="JQuery logo" class="skill-image">
                    <p class="skill-name">JQuery</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/SDL.png') }}" alt="SDL logo" class="skill-image">
                    <p class="skill-name">SDL</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/animate-css.png') }}" alt="Animate.css logo" class="skill-image">
                    <p class="skill-name">Animate.css</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/bootstrap.png') }}" alt="Bootstrap logo" class="skill-image">
                    <p class="skill-name">Bootstrap</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/phalcon.jpg') }}" alt="Phalcon logo" class="skill-image">
                    <p class="skill-name">Phalcon</p>
                </div>
            </div>

        </div>
    </div>

    <div class="top__biography shell--skills shell">
        {# top | terminal bar #}
        <div class="terminal-bar">
            <div class="bar-btn__group">
                <div class="bar__btn btn--red"></div>
                <div class="bar__btn btn--yellow"></div>
                <div class="bar__btn btn--green"></div>
            </div>
            <div class="bar__name">guest@arnaud: ~</div>
            <div></div>
        </div>

        {# terminal content #}
        <div class="biography__content scrolling skills-line">

            <div class="terminal--display">
                <p class="terminal-intro">
                    Welcome to Arnaud porfolio, the friendly and interactive portfolio.
                </p>

                <p class="terminal-command">
                    <span class="terminal-arrow">&#8702 </span> <span class="terminal-home">~ </span>
                    <span class="terminal-echo"> echo</span> <span class="echo-arg">other</span>
                </p>
            </div>

            <div class="skills-content">
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/bash.png') }}" alt="linux/bash logo" class="skill-image">
                    <p class="skill-name">Linux / Bash</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/composer.png') }}" alt="composer logo" class="skill-image">
                    <p class="skill-name">Composer</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/git.png') }}" alt="git logo" class="skill-image">
                    <p class="skill-name">Git</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/insomnia.png') }}" alt="insomnia logo" class="skill-image">
                    <p class="skill-name">Insomnia</p>
                </div>
                <div class="skill">
                    <img src="{{ asset('assets/img/icons/aws-white.png') }}" alt="amazon web services logo" class="skill-image">
                    <p class="skill-name">AWS</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}